FEATURE SCALING

FE

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler,MinMaxScaler
my_scale=StandardScaler()
min_max=MinMaxScaler()
scale=my_scale.fit_transform()

TypeError: TransformerMixin.fit_transform() missing 1 required positional argument: 'X'

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
data={
    'studyhours':[1,2,3,4,5],
    'performance':[20,30,40,50,60]
}
df1=pd.DataFrame(data)
StandardScale=StandardScaler()
StandardScaled=StandardScale.fit_transform(df1)
pd.DataFrame(StandardScaled,columns=['studyhours','performance'])

   studyhours  performance
0   -1.414214    -1.414214
1   -0.707107    -0.707107
2    0.000000     0.000000
3    0.707107     0.707107
4    1.414214     1.414214

In [ ]:
minmaxscaler=MinMaxScaler()
minmaxscaled=minmaxscaler.fit_transform(df1)
pd.DataFrame(minmaxscaled,columns=['studyhours','performance'])

   studyhours  performance
0        0.00         0.00
1        0.25         0.25
2        0.50         0.50
3        0.75         0.75
4        1.00         1.00

In [ ]:
x=df1[['studyhours']]
y=df1[['performance']]
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2)
x_train

NameError: name 'df1' is not defined