LABEL ENCODING

In [3]:


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
df=pd.read_csv("customer_data_for_ml_practice.csv")
df2=df.copy()
label=LabelEncoder()
df2['Gender_Encoded']=label.fit_transform(df['Gender'])

In [4]:
df2

,CustomerID,Age,Gender,Income,SpendingScore,Purchased,Gender_Encoded
0,1,25.0,Male,50000.0,60,0,1
1,2,30.0,Female,60000.0,80,0,0
2,3,NaN,Female,55000.0,75,1,0
3,4,45.0,Male,NaN,50,0,1
4,5,22.0,Female,45000.0,65,1,0
5,6,35.0,Male,70000.0,85,1,1
6,7,40.0,Male,65000.0,70,1,1
7,8,29.0,Female,48000.0,55,0,0
8,9,NaN,Male,52000.0,68,1,1
9,10,50.0,Female,75000.0,90,1,0
10,11,28.0,Female,58000.0,72,0,0
11,12,33.0,Male,62000.0,78,0,1
12,13,38.0,Male,61000.0,74,0,1
13,14,NaN,Female,59000.0,69,1,0
14,15,41.0,Male,NaN,88,0,1
15,16,27.0,Female,47000.0,58,0,0
16,17,36.0,Male,68000.0,82,1,1
17,18,44.0,Female,72000.0,91,0,0
18,19,23.0,Male,46000.0,53,1,1
19,20,31.0,Female,54000.0,67,1,0
20,21,39.0,Male,63000.0,76,0,1
21,22,42.0,Female,71000.0,89,0,0
22,23,NaN,Male,69000.0,84,1,1
23,24,26.0,Female,NaN,59,0,0
24,25,34.0,Male,56000.0,71,1,1
25,26,48.0,Female,73000.0,93,0,0
26,27,37.0,Male,67000.0,77,0,1
27,28,NaN,Female,64000.0,73,1,0
28,29,24.0,Male,49000.0,56,1,1
29,30,32.0,Female,51000.0,62,0,0
30,31,46.0,Male,74000.0,87,1,1
31,32,29.0,Female,53000.0,66,0,0
32,33,35.0,Male,66000.0,79,1,1
33,34,40.0,Female,70000.0,83,1,0
34,35,NaN,Male,72000.0,92,0,1
35,36,21.0,Female,NaN,54,1,0
36,37,43.0,Male,75000.0,86,0,1
37,38,38.0,Female,61000.0,75,1,0
38,39,30.0,Male,58000.0,63,0,1
39,40,NaN,Female,60000.0,70,1,0
40,41,27.0,Male,52000.0,61,1,1
41,42,36.0,Female,64000.0,74,0,0
42,43,49.0,Male,76000.0,95,0,1
43,44,28.0,Female,55000.0,57,1,0
44,45,NaN,Male,57000.0,64,0,1
45,46,33.0,Female,NaN,68,1,0
46,47,41.0,Male,69000.0,81,0,1
47,48,25.0,Female,48000.0,52,1,0
48,49,34.0,Male,62000.0,69,1,1
49,50,47.0,Female,73000.0,94,1,0
50,6,35.0,Male,70000.0,85,1,1
51,7,40.0,Male,65000.0,70,1,1
52,8,29.0,Female,48000.0,55,0,0

CLEANING DATA

In [19]:
age=df2['Age']
def age_group(age):
    if age <= 12:
        return "Child"
    elif age <= 19:
        return "Teen"
    elif age <= 35:
        return "Young Adult"
    elif age <= 60:
        return "Adult"
    else:
        return "Senior"
df2["Age_Group"] = df["Age"].apply(age_group)

In [20]:
df2.isnull().sum()

CustomerID        0
Age               0
Gender            0
Income            0
SpendingScore     0
Purchased         0
Gender_Encoded    0
Age_Group         0
dtype: int64

In [21]:
df2['Age']=df2['Age'].fillna(df['Age'].median())
df2['Income']=df2['Income'].fillna(df['Income'].median())

In [22]:
df2.duplicated().sum()

np.int64(0)

In [23]:


df2.drop_duplicates(inplace=True)

In [24]:
df2.duplicated().sum()

np.int64(0)

ONE HOT CODING

In [30]:
one_hot=pd.get_dummies(df2['Age_Group'],dtype=int)
one_hot.head()

   Adult  Senior  Young Adult
0      0       0            1
1      0       0            1
2      0       1            0
3      1       0            0
4      0       0            1

In [ ]:
e

In [25]:
df2.columns

Index(['CustomerID', 'Age', 'Gender', 'Income', 'SpendingScore', 'Purchased',
       'Gender_Encoded', 'Age_Group'],
      dtype='object')

In [27]:
df2

,CustomerID,Age,Gender,Income,SpendingScore,Purchased,Gender_Encoded,Age_Group
0,1,25.0,Male,50000.0,60,0,1,Young Adult
1,2,30.0,Female,60000.0,80,0,0,Young Adult
2,3,35.0,Female,55000.0,75,1,0,Senior
3,4,45.0,Male,61500.0,50,0,1,Adult
4,5,22.0,Female,45000.0,65,1,0,Young Adult
5,6,35.0,Male,70000.0,85,1,1,Young Adult
6,7,40.0,Male,65000.0,70,1,1,Adult
7,8,29.0,Female,48000.0,55,0,0,Young Adult
8,9,35.0,Male,52000.0,68,1,1,Senior
9,10,50.0,Female,75000.0,90,1,0,Adult
10,11,28.0,Female,58000.0,72,0,0,Young Adult
11,12,33.0,Male,62000.0,78,0,1,Young Adult
12,13,38.0,Male,61000.0,74,0,1,Adult
13,14,35.0,Female,59000.0,69,1,0,Senior
14,15,41.0,Male,61500.0,88,0,1,Adult
15,16,27.0,Female,47000.0,58,0,0,Young Adult
16,17,36.0,Male,68000.0,82,1,1,Adult
17,18,44.0,Female,72000.0,91,0,0,Adult
18,19,23.0,Male,46000.0,53,1,1,Young Adult
19,20,31.0,Female,54000.0,67,1,0,Young Adult
20,21,39.0,Male,63000.0,76,0,1,Adult
21,22,42.0,Female,71000.0,89,0,0,Adult
22,23,35.0,Male,69000.0,84,1,1,Senior
23,24,26.0,Female,61500.0,59,0,0,Young Adult
24,25,34.0,Male,56000.0,71,1,1,Young Adult
25,26,48.0,Female,73000.0,93,0,0,Adult
26,27,37.0,Male,67000.0,77,0,1,Adult
27,28,35.0,Female,64000.0,73,1,0,Senior
28,29,24.0,Male,49000.0,56,1,1,Young Adult
29,30,32.0,Female,51000.0,62,0,0,Young Adult
30,31,46.0,Male,74000.0,87,1,1,Adult
31,32,29.0,Female,53000.0,66,0,0,Young Adult
32,33,35.0,Male,66000.0,79,1,1,Young Adult
33,34,40.0,Female,70000.0,83,1,0,Adult
34,35,35.0,Male,72000.0,92,0,1,Senior
35,36,21.0,Female,61500.0,54,1,0,Young Adult
36,37,43.0,Male,75000.0,86,0,1,Adult
37,38,38.0,Female,61000.0,75,1,0,Adult
38,39,30.0,Male,58000.0,63,0,1,Young Adult
39,40,35.0,Female,60000.0,70,1,0,Senior
40,41,27.0,Male,52000.0,61,1,1,Young Adult
41,42,36.0,Female,64000.0,74,0,0,Adult
42,43,49.0,Male,76000.0,95,0,1,Adult
43,44,28.0,Female,55000.0,57,1,0,Young Adult
44,45,35.0,Male,57000.0,64,0,1,Senior
45,46,33.0,Female,61500.0,68,1,0,Young Adult
46,47,41.0,Male,69000.0,81,0,1,Adult
47,48,25.0,Female,48000.0,52,1,0,Young Adult
48,49,34.0,Male,62000.0,69,1,1,Young Adult
49,50,47.0,Female,73000.0,94,1,0,Adult