In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df=pd.read_csv("customer_data_for_ml_practice.csv")

In [13]:
df.shape

(53, 6)

In [14]:
df.head()

   CustomerID   Age  Gender   Income  SpendingScore  Purchased
0           1  25.0    Male  50000.0             60          0
1           2  30.0  Female  60000.0             80          0
2           3   NaN  Female  55000.0             75          1
3           4  45.0    Male      NaN             50          0
4           5  22.0  Female  45000.0             65          1

In [15]:
df.duplicated().sum()

np.int64(3)

In [16]:
df=df.drop_duplicates()

In [17]:
df.duplicated().sum()

np.int64(0)

In [18]:
df.isnull().sum()

CustomerID       0
Age              8
Gender           0
Income           5
SpendingScore    0
Purchased        0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     50 non-null     int64
 1   Age            42 non-null     float64
 2   Gender         50 non-null     object
 3   Income         45 non-null     float64
 4   SpendingScore  50 non-null     int64
 5   Purchased      50 non-null     int64
dtypes: float64(2), int64(3), object(1)
memory usage: 2.7+ KB

In [20]:
df['Age']=df['Age'].fillna(df['Age'].median())

In [21]:
df['Income']=df['Income'].fillna(df['Income'].mean())

In [22]:
df.isnull().sum()

CustomerID       0
Age              0
Gender           0
Income           0
SpendingScore    0
Purchased        0
dtype: int64

Label encoding

In [23]:


from sklearn.preprocessing import LabelEncoder
df=pd.read_csv("customer_data_for_ml_practice.csv")
df2=df.copy()
le=LabelEncoder()
df2['Gender Encoded ']=le.fit_transform(df2['Gender'])
df2['Gender Encoded '].astype(int)

0     1
1     0
2     0
3     1
4     0
5     1
6     1
7     0
8     1
9     0
10    0
11    1
12    1
13    0
14    1
15    0
16    1
17    0
18    1
19    0
20    1
21    0
22    1
23    0
24    1
25    0
26    1
27    0
28    1
29    0
30    1
31    0
32    1
33    0
34    1
35    0
36    1
37    0
38    1
39    0
40    1
41    0
42    1
43    0
44    1
45    0
46    1
47    0
48    1
49    0
50    1
51    1
52    0
Name: Gender Encoded , dtype: int64

In [24]:
df.columns

Index(['CustomerID', 'Age', 'Gender', 'Income', 'SpendingScore', 'Purchased'], dtype='object')

In [25]:
df2['Gender Encoded ']

0     1
1     0
2     0
3     1
4     0
5     1
6     1
7     0
8     1
9     0
10    0
11    1
12    1
13    0
14    1
15    0
16    1
17    0
18    1
19    0
20    1
21    0
22    1
23    0
24    1
25    0
26    1
27    0
28    1
29    0
30    1
31    0
32    1
33    0
34    1
35    0
36    1
37    0
38    1
39    0
40    1
41    0
42    1
43    0
44    1
45    0
46    1
47    0
48    1
49    0
50    1
51    1
52    0
Name: Gender Encoded , dtype: int64

In [26]:
df2.head()

,CustomerID,Age,Gender,Income,SpendingScore,Purchased,Gender Encoded
0,1,25.0,Male,50000.0,60,0,1
1,2,30.0,Female,60000.0,80,0,0
2,3,NaN,Female,55000.0,75,1,0
3,4,45.0,Male,NaN,50,0,1
4,5,22.0,Female,45000.0,65,1,0

In [27]:
X = df.drop("Purchased", axis=1)
y = df["Purchased"]

In [28]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
scale=StandardScaler()
x_scale=scale.fit_transform()
scale=MinMaxScaler()
x_scale=scale.fit_transform(X)

TypeError: TransformerMixin.fit_transform() missing 1 required positional argument: 'X'

In [ ]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split
data={
    'studyhours':[1,2,3,4,5],
    'performance':[20,30,40,50,60]
}
df1=pd.DataFrame(data)
StandardScale=StandardScaler()
StandardScaled=StandardScale.fit_transform(df1)
pd.DataFrame(StandardScaled,columns=['studyhours','performance'])

   studyhours  performance
0   -1.414214    -1.414214
1   -0.707107    -0.707107
2    0.000000     0.000000
3    0.707107     0.707107
4    1.414214     1.414214

In [ ]:
minmaxscaler=MinMaxScaler()
minmaxscaled=minmaxscaler.fit_transform(df1)
pd.DataFrame(minmaxscaled,columns=['studyhours','performance'])

   studyhours  performance
0        0.00         0.00
1        0.25         0.25
2        0.50         0.50
3        0.75         0.75
4        1.00         1.00

In [ ]:
x=df1[['studyhours']]
y=df1[['performance']]
x_train,y_train,x_test,y_test=train_test_split(x,y,test_size=0.2)
x_train

   studyhours
1           2
2           3
4           5
3           4

In [ ]:
x_test

   performance
1           30
2           40
4           60
3           50

In [ ]:
y_train

   studyhours
0           1

In [ ]:
y_test

   performance
0           20

In [ ]:
#how linear regresion work 
#1 find a pattern
#draw a straight line
#3 prdict future things

In [ ]:
# Import libraries
from sklearn.linear_model import LinearRegression
import numpy as np

# Example data (x should be 2D, y can be 1D)
# Let's say you have x as a list of numbers and y as their corresponding outputs
x = np.array([[1], [8], [12], [10], [12]])  # x must be 2D
y = np.array([2, 4, 6, 8, 10])          # y can be 1D

# Create the Linear Regression model
model = LinearRegression()

# Train (fit) the model
model.fit(x, y)

# Predict for a new value
value = 8
prediction = model.predict([[value]])  # input must be 2D
print("Prediction for", value, "is", prediction[0])

Prediction for 8 is 5.653846153846154

Linear Regression

In [ ]:
# Import libraries
from sklearn.linear_model import LinearRegression
import numpy as np


x = np.array([[1], [2], [3], [4], [5]])  # x must be 2D
y = np.array([30, 40, 50, 60, 70])          # y can be 1D

# Create the Linear Regression model
model = LinearRegression()

# Train (fit) the model
model.fit(x, y)

hours=int(input("Enter number of hours"))
prediction = model.predict([[hours]])  # input must be 2D
print("Prediction for", hours, "is", prediction,'marks ')

Prediction for 8 is [100.] marks

logistic regression

classification

In [ ]:
# Import libraries
from sklearn.linear_model import LogisticRegression
import numpy as np


x = np.array([[1], [2], [3], [4], [5]])  
y=np.array([0,0,0,1,1])
model=LogisticRegression()
model.fit(x,y)
hours=float(input("Enter number of hours"))
result = model.predict([[hours]])[0] # input must be 2D
print("result is",result)
if result==1:
    print(f"based on  {hours} hours you are likely pass")
else:
    print(f"based on  {hours} hours you are likely failed")

result is 0
based on  3.0 hours you are likely failed

KNNS REGRESSION

In [11]:
from sklearn.neighbors import KNeighborsClassifier
x=[
    [180,7],
    [200,7.5],
    [250,8.5],
    [300,9],
    [330,9.5],
]
y=[0,0,0,1,1]
model=KNeighborsClassifier(n_neighbors=3)
model.fit(x,y)
weight=float(input("enter the weight in grams"))
size=float(input("enter the size in cm"))
prediction=model.predict([[weight,size]])[0]
if prediction==1:
    print(f"based on  {weight}and {size} it is  likely orange")
else:
    print(f"based on  {weight}and {size} it is  likely apple")

based on  100.0and 1.0 it is  likely apple

Descion Tree

In [13]:
from sklearn.tree import DecisionTreeClassifier
x=[
    [7,2],
    [8,3],
    [9,7],
    [10,8]
]
y=[0,0,1,1]
model=DecisionTreeClassifier()
model.fit(x,y)
shade=float(input("enter the weight in "))
size=float(input("enter the size in cm"))
prediction=model.predict([[size,shade]])[0]
if prediction==1:
    print(f"based on  it is  likely orange")
else:
    print(f"based onit is  likely apple")

based onit is  likely apple

In [ ]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
y_true=[1,0,0,1,1,0]
x_pred=[0,1,0,1,0,1]